//========================
// Breakpoints
//========================
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 60em)'
}

//========================
// Type Scale
//========================
$root-size = 18px
$root-lh = 2

$type-scale = {
	x-small: 12px
	small: 16px
    base: $root-size
    medium: 24px
    large: 32px
    x-large: 48px
}

//========================
// Z-index
//========================
$z-index = {
	bottom: -100
	middle: 0
	top: 100
	overlay: 200
}

//========================
// Typefaces
//========================
$sans = Helvetica Neue, Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$benton = Benton, Helvetica Neue, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

//========================
// Project colors
//========================
$legend = {
    scale-1: rgb(255, 255, 255)
    scale-2: rgb(234, 255, 191)
    scale-3: rgb(170, 255, 127)
    scale-4: rgb(000, 205, 000)
    scale-5: rgb(000, 139, 000)
    scale-6: rgb(016, 078, 139)
    scale-7: rgb(030, 144, 255)
    scale-8: rgb(000, 178, 238)
    scale-9: rgb(000, 238, 238)
    scale-10: rgb(200, 104, 255)
    scale-11: rgb(145, 044, 238)
    scale-12: rgb(139, 000, 139)
    scale-13: rgb(139, 000, 000)
    scale-14: rgb(205, 000, 000)
    scale-15: rgb(238, 064, 000)
    scale-16: rgb(255, 127, 000)
    scale-17: rgb(255, 255, 000)
}