//========================
// Breakpoints
//========================
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 60em)'
}

//========================
// Type Scale
//========================
$root-size = 18px
$root-lh = 2

$type-scale = {
	x-small: 12px
	small: 16px
    base: $root-size
    medium: 24px
    large: 32px
    x-large: 48px
}

//========================
// Z-index
//========================
$z-index = {
	bottom: -100
	middle: 0
	top: 100
	overlay: 200
}

//========================
// Typefaces
//========================
$sans = Helvetica Neue, Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$benton = Benton, Helvetica Neue, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

//========================
// Project colors
//========================
$legend = {
    scale-1: rgb(255, 255, 255)
    scale-2: rgb(220, 235, 235)
    scale-3: rgb(207, 228, 230)
    scale-4: rgb(186, 212, 222)
    scale-5: rgb(168, 194, 215)
    scale-6: rgb(150, 172, 209)
    scale-7: rgb(142, 148, 203)
    scale-8: rgb(138, 120, 195)
    scale-9: rgb(139, 84, 181)
    scale-10: rgb(133, 69, 161)
    scale-11: rgb(124, 52, 133)
    scale-12: rgb(111, 40, 108)
    scale-13: rgb(94, 31, 82)
    scale-14: rgb(74, 24, 55)
    scale-15: rgb(54, 18, 34)
    scale-16: rgb(39, 14, 22)
    scale-17: rgb(2, 1, 1)
}