<footer role='contentinfo'>
	{{> graphic/legend }}
	<div class='updated'>
	<p class='benton-bold'>Snowfall in last 24 hours</p>
	<p class='benton-regular'>Last updated <time class='updated__time js-time' datetime=''></time></p>
	</div>
</footer>
