<div class='intro'>
	<h1 class='intro__hed miller-banner-regular'>
		It snowed over <mark>3 inches</mark> in
		<input class='intro__search js-search miller-banner-regular' />
		recently
	</h1>
</div>
