<div class='intro'>
	<h1 class='intro__hed miller-banner-regular'>Snow totals in the last 24 hours</h1>

<!--		It snowed <mark>3 inches</mark> around
		<input class='intro__search js-search miller-banner-regular' />
		recently
	</h1> -->

	<p class='updated benton-regular'>Last updated <time class='updated__time js-time' datetime=''></time></p>

</div>
