<div class='legend' data-legend>
		<p class='legend__title benton-bold'>Snowfall (inches)</p>
		<dl class='legend__list'>
			<dt class='legend__term benton-regular'>0 <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inch</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span data-legend-inches></span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
			<dt class='legend__term benton-regular'><span class='hide-accessible'>More than</span> <span data-legend-inches></span><span aria-hidden='true'>+</span> <span class='hide-accessible'>inches</span></dt>
			<dd class='legend__def'></dd>
		</dl>
	</div>
