<div class='snowfall-buttons' data-button-container></div>
<div class="interactive">
  <div id="snowfall" class='observed-snowfall'></div>
  <div class="attribution">
    <p class="attribution__text">SOURCE: <a href="https://www.nohrsc.noaa.gov/snowfall/">NOHRSC</a></p>
  </div>  
</div>
