<div class='updated hide' data-last-updated>
	<p class='benton-bold' data-view></p>
	<p class='benton-regular' aria-live='polite' role='status'>Last updated <time class='updated__time js-time' datetime='' data-time></time></p>
</div>
